<div class="navbar navbar-fixed-top">
  <div class="navbar-inner" style="text-align: center;">
    <a class="logo" href="#" onclick="top.location = 'https://www.facebook.com/trendytamexico'">
    	<img src="http://www.trendyta.com/i/logo_trendyta.png"/>
    </a>
  </div>
</div>